
@{
    Layout = "/Views/Shared/_BackAdmin.cshtml";
    ViewBag.Title = "管理员首页";
}

>

    <div class="container-fluid cm-container-white">
        <h2 style="margin-top:0;">学生心理咨询系统简介(管理员端)</h2>
        <hr />
        <p>本系统是由visual studio2022 + SQL server设计的大学生心理咨询系统。此端供管理员进行数据编辑。</p>
        <hr />
    </div>

    <div class="container-fluid">
        <!-- 某行中的三列，可以根据需要进行多次复制，实现多行 -->
        <div class="row cm-fix-height">

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">用户管理</div>
                    <div class="panel-body">
                        <a href="#">查看学生的基本内容</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">动态管理</div>
                    <div class="panel-body">
                        <a href="#">查看动态的基本管理</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">公告</div>
                    <div class="panel-body">
                        <a href="#">查看公告详情</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row cm-fix-height">

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">用户管理</div>
                    <div class="panel-body">
                        <a href="#">查看学生的基本内容</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">动态管理</div>
                    <div class="panel-body">
                        <a href="#">查看动态的基本管理</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">公告</div>
                    <div class="panel-body">
                        <a href="#">查看公告详情</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
